{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'calculator.css'%}">
    <title>Document</title>
</head>
<body>
   <h1>calculators</h1> 
<div class="row">
    <div class="col-12">
        <form method="post" action="calculator">
            {% csrf_token %}
    <label>enter first number</label>
    <br>
    <br>   
    <input type="text" name="num1" class="first">
    
    <br>
    <br>
    <br>
    <select name="operator" id="" >
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
      <option value="/">/</option>
    </select>
    <br>
    <br>
    <label>enter second number</label>
    <br>   
    <input type="text" name="num2" class="first">
    <br>
    <br>

    <button>output</button>
    <br>
    <br>
    <label>output</label>
    <br>
    <input type="text" value="{{c}}" class="first">
   </form>
</div>
</div>

    

</body>
</html>